<header>
    <div class="mx-auto max-w-7xl px-4 py-2">
        <div class="flex items-center justify-between">
            <nav>
                <ul>
                    <li class="inline-flex gap-4">
                        <a href="/admin/">Admin</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="mx-auto max-w-7xl px-4 py-4">
        <div class="flex items-center justify-between">
            <a href="/">
                <h1 class="font-bold">FYC - e-commerce</h1>
            </a>
            <nav>
                <ul>
                    <li class="inline-flex gap-4">
                        <a href="/product">Produits</a>
                        <a href="/profile">Profile</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>