@model List<ProductManagementAPI.Models.FrontProduct>
<section>
    <div class="flex flex-col gap-8 py-4">
        <div class="flex flex-col gap-4">
            <h1 class="font-bold text-2xl">Liste des produits</h1>
            <a class="p-2 rounded-sm bg-blue-500 hover:bg-blue-600 focus:bg-blue-600 text-white w-fit" href="/product/add">Ajouter un produit</a>
        </div>
        @if (Model == null || !Model.Any())
        {
            <p>Aucun produit disponible pour le moment.</p>
        }
        else 
        {
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Name</td>
                            <td >@product.Price.ToString("0.00") €</td>
                            <td>@product.Stock</td>
                            <td>
                                <div class="flex gap-4">
                                    <a class="p-2 rounded-sm bg-blue-500 hover:bg-blue-600 focus:bg-blue-600 text-white" href="/product/view/@product.Id">Voir</a>
                                    <a class="p-2 rounded-sm bg-green-500 hover:bg-green-600 focus:bg-green-600 text-white" href="/product/edit/@product.Id">Modifier</a>
                                    <a class="p-2 rounded-sm bg-red-500 hover:bg-red-600 focus:bg-red-600 text-white" href="/product/delete/@product.Id">Supprimer</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</section>