@model List<ProductManagementAPI.Models.Product>
<section>
    <div class="gap-8 py-4 flex flex-col">
        <div class="gap-4 flex flex-col">
            <h1 class="text-2xl font-bold">Liste des produits</h1>
            <a class="p-2 bg-blue-500 text-white w-fit rounded-sm hover:bg-blue-600 focus:bg-blue-600" href="/product/add">Ajouter un produit</a>
        </div>
        @if (Model == null || !Model.Any())
        {
            <p>Aucun produit disponible pour le moment.</p>
        }
        else 
        {
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Name</td>
                            <td >@product.Price.ToString("0.00") €</td>
                            <td>@product.Stock</td>
                            <td>
                                <div class="gap-4 flex">
                                    <a class="p-2 bg-blue-500 text-white rounded-sm hover:bg-blue-600 focus:bg-blue-600" href="/product/view/@product.Id">Voir</a>
                                    <a class="p-2 bg-green-500 text-white rounded-sm hover:bg-green-600 focus:bg-green-600" href="/product/edit/@product.Id">Modifier</a>
                                    <a class="p-2 bg-red-500 text-white rounded-sm hover:bg-red-600 focus:bg-red-600" href="/product/delete/@product.Id">Supprimer</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</section>